[submodule "client-service"]
	path = client-service
	url = https://github.com/BAT333/client-service.git
[submodule "property-service"]
	path = property-service
	url = https://github.com/BAT333/property-service.git
[submodule "search-service"]
	path = search-service
	url = https://github.com/BAT333/search-service.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/BAT333/auth-service.git
[submodule "employee-service"]
	path = employee-service
	url = https://github.com/BAT333/employee-service.git
[submodule "email-service"]
	path = email-service
	url = https://github.com/BAT333/email-service.git
[submodule "whatsApp-service"]
	path = whatsApp-service
	url = https://github.com/BAT333/whatsApp-service.git
[submodule "service"]
	path = service
	url = https://github.com/BAT333/service.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/BAT333/Gateway.git
[submodule "sale-service"]
	path = sale-service
	url = https://github.com/BAT333/Sale-service.git
